<!--CeltIC NDC (tm) Crosstalk Analyzer with Delay Calculator Version 6.214.1
Release    EDI14.1 (BID_CNDC142_V14_26_S013_1)
(c)[2000-2015] Cadence Design Systems, Inc. All rights reserved.
This work may not be copied, modified, re-published, uploaded, executed,
or distributed in any way, in any medium, whether in whole or in part,
without prior written permission from Cadence Design Systems, Inc.-->
<HTML>
<HEAD>
<TITLE>CeltIC ECO Report</TITLE>
</HEAD>
<BODY>
<TABLE BORDER=0 NOSAVE>
<TR align=center><TD><H3><STRONG>CeltIC ECO Report<BR>Release    EDI14.1 (BID_CNDC142_V14_26_S013_1)
</STRONG></H3></TD></TR>
<TR><TD><H3><STRONG>ECO Settings<BR></TD></TR>
<TR><TD><TABLE BORDER>
<TR ><TH>Attribute</TH><TH>Value</TH></TR>
<TR ><TD>Noise ECO command</TD><TD>modify_net {$NAME}</TD></TR>
<TR ><TD>Delay ECO command</TD><TD>No Fix</TD></TR>
<TR ><TD>Slope ECO command</TD><TD>No Fix</TD></TR>
<TR ><TD>Clock nets</TD><TD>Fix</TD></TR>
<TR ><TD>Propagated noise fix</TD><TD>Fix Source Coupling</TD></TR>
<TR ><TD>ECO report file</TD><TD>celtic_tmp_qw5Y1U/analysis_slow/celtic.eco [Noise, Delay and Slope fixes]</TD></TR>
</TABLE></TD></TR>
<TR><TD></TD></TR><TR><TD><b>Noise ECO Report</b></TD></TR><TR><TD></TD></TR><TR><TD><TABLE BORDER>
<TR ALIGN="center"><TH rowspan=2>Net </TH><TH rowspan=2>Type </TH><TH colspan=3>Noise (V)</TH><TH colspan=3 >Output Peak (V)</TH><TH rowspan=2>ECO Cause</TH><TH rowspan=2>Status</TH></TR>
<TR ALIGN="center"><TH>Orig</TH><TH>New</TH><TH>Thresh</TH><TH>Orig</TH><TH>New</TH><TH>Thresh</TH></TR>
</TABLE></TD></TR>
</TABLE>
</BODY>
</HTML>
